{% extends "blog/base.html" %}
{% block content %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
          <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
          {% if object.author == user %}
            <div>
              <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
              <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
            </div>
          {% endif %}
        </div>
        <div style="margin-top:20px;">
          <p>Information: {{ post.title }}</p>
          {% if post.content is not 0 %}
            <p class="article-content" style="margin-top:20px;">Glucose level: <b>{{ post.content }}</b> mg/dL</p>
          {% endif %}
          {% if post.content == 0 %}
            <p class="bg-warning text-dark">Information: <b>{{ post.info }}</b></p>
          {% elif post.content < 80 and post.content > 0 %}
            <p class="bg-danger"><b>Glucose level is very low. Call a doctor!</b></p>
          {% elif post.content >= 80 and post.content <= 90 %}
            <p class="article-content">Insulin dose: <b>25</b> units</p>
          {% elif post.content > 90 and post.content <= 100 %}
            <p class="article-content">Insulin dose: <b>26</b> units</p>
          {% elif post.content > 100 and post.content <= 115 %}
            <p class="article-content">Insulin dose: <b>27</b> units</p>
          {% elif post.content > 115 and post.content <= 125 %}
            <p class="article-content">Insulin dose: <b>28</b> units</p>
          {% elif post.content > 125 and post.content <= 135 %}
            <p class="article-content">Insulin dose: <b>29</b> units</p>
          {% elif post.content > 135 and post.content <= 145 %}
            <p class="article-content">Insulin dose: <b>30</b> units</p>
          {% elif post.content > 145 and post.content <= 155 %}
            <p class="article-content">Insulin dose: <b>31</b> units</p>
          {% elif post.content > 155 and post.content <= 165 %}
            <p class="article-content">Insulin dose: <b>32</b> units</p>
          {% elif post.content > 165 and post.content <= 175 %}
            <p class="article-content">Insulin dose: <b>33</b> units</p>
          {% elif post.content > 175 and post.content <= 200 %}
            <p class="article-content">Insulin dose: <b>34</b> units</p>
          {% elif post.content > 200 %}
            <p class="bg-danger"><b>Glucose level is very high. Call a doctor!</b></p>
          {% endif %}
    </article>
{% endblock content %}
